bittensor==6.9.4
transformers==4.46.3
pandas==2.2.3
jiwer==3.0.5
pydub==0.25.1
pytest-asyncio==0.24.0
torchao==0.6.1
tiktoken==0.4.0
diffusers==0.31.0
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
torchtune==0.4.0
ulid-py==1.1.0
imagebind @ git+https://github.com/omegalabsinc/ImageBind.git@c3c3b2e1ce6fd850ff42ce0375823fe22880a7cc#egg=imagebind
llama3 @ git+https://github.com/meta-llama/llama3.git@af6eedf7042fb51d00b2b26d8ef1ceaab73e1670
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@28fe037d212663c6a24f373b94cc5d478c8c1a1d
wandb==0.17.1
numpy==1.26.4
sentencepiece==0.2.0
SQLAlchemy
scikit-learn==1.5.2
python-dotenv==1.0.1
torch-audiomentations==0.11.1
pyannote.audio==3.1.1
pesq==0.0.4