WANDB_API_KEY=

# OpenAI API Configuration
OPENAI_API_BASE=https://api.openai.com/v1
OPENAI_API_KEY=
OPENAI_MODEL="gpt-5-mini"
# Chutes API Configuration
CHUTES_API_BASE=https://llm.chutes.ai/v1
CHUTES_API_KEY=
CHUTES_MODEL='Qwen/Qwen3-235B-A22B-Instruct-2507'